.footerWeatherBlock {
  margin-top: 27%;
  display: flex;
  justify-content: space-around;
}
h2 {
  color: white;
}
.humidity,
.speed {
  background-color: rgb(71, 70, 75);
  text-align: center;
}
.humidityIcon {
  margin: -50px;
  margin-right: 50px;
}
.humidity {
  box-sizing: content-box;
  width: 180px;
  height: 70px;
  margin-left: 5px;
  border: none;
  border-radius: 26% 26% 26% 0 / 49%;
  font: normal 100% / normal Arial, Helvetica, sans-serif;
  text-overflow: clip;
}
.speed {
  box-sizing: content-box;
  width: 130px;
  height: 70px;
  border: none;
  -webkit-border-radius: 58% 0 71% 58% / 113%;
  border-radius: 58% 0 71% 58% / 113%;
  font: normal 100% / normal Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 1);
  text-overflow: clip;
}
.speedIcon {
  margin: -50px;
  margin-right: 20px;
}
