.weatherBlock {
  display: flex;
  padding-top: 1%;
  flex-direction: column;
  align-items: stretch;
  margin-top: 0px;
  margin-right: 1%;
  border-radius: 30px;
  background-color: #3a3b3f;
  height: 100vh;
  min-width: 320px;
}

.headerWeatherBlock {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.defaultWeatherBlock {
  align-items: center;
  display: flex;
  font-size: 130%;
  color: #99d0a8;
  justify-content: center;
  height: 550px;
}

@media screen and(max-width:1600px) {
  .weatherBlock {
    margin-right: 100px;
  }
}
@media screen and(max-width:768px) {
  .weatherBlock {
    padding-top: 30px;
    margin-top: 0px;
    margin-right: 20px;
    border-radius: 30px;
    background-color: #3a3b3f;
    height: 100%;
    margin-top: 50%;
    margin-left: 30px;
  }
}
@media screen and(max-width:430px) {
  .weatherBlock {
    padding-top: 30px;
    margin-top: 0px;
    margin-right: 20px;
    border-radius: 30px;
    background-color: #3a3b3f;
    height: 100%;
    margin-top: 70%;
    margin-left: 30px;
  }
}
